@model Movie

<h1>Edit Movie</h1>
@using (Html.BeginForm())
{
    <div class="form-group">
        <label asp-for="Id"></label>
        <input readonly asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="budget"></label>
        <input asp-for="budget" class="form-control" />
        <span asp-validation-for="budget" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Director"></label>
        <input asp-for="Director" class="form-control" />
        <span asp-validation-for="Director" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Edit</button>
}

